{% extends 'base.html' %}
{% block title %} CTO {% endblock %}

{% block content %}
    {% if current_user.is_authenticated and current_user.get_role() == 'ADMIN'%}
         
    <p><a class='link' href="/addService">Добавить услугу</a>
    <a class='link' href="/addTypeService">Добавить категорию услуги</a></p>
                
    {%endif%}

    <table class = "services" name = "services">

        <thead>
            <tr>
                <td>Услуга</td>
                <td>Стоимость</td>
            </tr>
        </thead>
    
        <tbody id = "myTable">
            {%for typ in type%}
            <tr>
                <td>{{typ[1]}} </td>
            </tr>
            <tr>
                {%for item in services%}
                    {% if item[4] == typ[0]%}
                    <tr>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                    </tr>
                    {%endif%}
                {%endfor%}
            </tr>
            {%endfor%}
            
        </tbody>    
    </table>
{% endblock %}