{% extends 'base.html' %}
{% block title %} CTO {% endblock %}

{% block content %}
    {% if current_user.is_authenticated and current_user.get_role() == 'ADMIN'%}
         
    <p><a class='link' href="/addGood">Добавить товар</a>
    <a class='link' href="/addTypeGood">Добавить категорию товара</a></p>
                
    {%endif%}

    <table class = "goods" name = "goods">

        <thead>
            <tr>
                <td>Товар</td>
                <td>Стоимость</td>
            </tr>
        </thead>
    
        <tbody id = "myTable">
            {%for typ in type%}
            <tr>
                <td><b>{{typ[1]}}</b> </td>
            </tr>
            <tr>
                {%for item in goods%}
                    {% if item[4] == typ[0]%}
                    <tr>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                    </tr>
                    {%endif%}
                {%endfor%}
            </tr>
            {%endfor%}
            
        </tbody>    
    </table>
{% endblock %}